.hover-menu {
  font-weight: bold;
  color: black;
  transition: all 0.3s ease;
}

.hover-menu:hover {
  background-color: #e3342f; /* Rouge */
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}
/* Sidebar Styles */
aside {
  min-height: calc(100vh - 80px); /* Ajuster à la hauteur restante après le header */
}

/* Responsive Layout */
@media (max-width: 768px) {
  aside {
    width: 100%;
    min-height: auto;
  }
  .flex {
    flex-direction: column;
  }
}
 /* Bouton avec dégradé */
.btn-gradient {
  background: linear-gradient(to right, #ebb62c, #2d7000); /* Dégradé de gauche à droite */
  color: white; /* Couleur du texte */
  transition: background 0.3s ease; /* Transition pour l'effet de survol */
  padding: 0.5rem 1rem; /* Espacement interne */
  border-radius: 0.5rem; /* Bord arrondi */
  font-weight: bold; /* Texte en gras */
  text-align: center; /* Centrage du texte */
}

/* Effet au survol */
.btn-gradient:hover {
  background: linear-gradient(to right, #2d7000, #ebb62c); /* Inversion du dégradé */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

#map {
  height: 400px; /* Hauteur de la carte */
  border-radius: 8px; /* Coins arrondis */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre pour l'esthétique */
}

