.hover-menu {
  font-weight: bold;
  color: black;
  transition: all 0.3s ease;
}



/* Responsiveness */
@media (max-width: 768px) {
  header .container {
    flex-direction: row;
    justify-content: space-between;
  }

  nav {
    display: none;
  }
}

/* Sidebar Styles */
aside {
  min-height: calc(100vh - 80px); /* Ajuster à la hauteur restante après le header */
}

/* Responsive Layout */
@media (max-width: 768px) {
  aside {
    width: 100%;
    min-height: auto;
  }
  .flex {
    flex-direction: column;
  }
}
 /* Bouton avec dégradé */
.btn-gradient {
  background: linear-gradient(to right, #ebb62c, #2d7000); /* Dégradé de gauche à droite */
  color: white; /* Couleur du texte */
  transition: background 0.3s ease; /* Transition pour l'effet de survol */
  padding: 0.5rem 1rem; /* Espacement interne */
  border-radius: 0.5rem; /* Bord arrondi */
  font-weight: bold; /* Texte en gras */
  text-align: center; /* Centrage du texte */
}

/* Effet au survol */
.btn-gradient:hover {
  background: linear-gradient(to right, #2d7000, #ebb62c); /* Inversion du dégradé */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

#map {
  height: 400px; /* Hauteur de la carte */
  border-radius: 8px; /* Coins arrondis */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre pour l'esthétique */
}


/* Champs de formulaire */
input,
textarea {
  border: 2px solid #d1d5db; /* Bordure grise par défaut */
  background-color: #f9fafb; /* Arrière-plan gris clair */
  padding: 0.5rem 1rem; /* Espacement interne */
  font-size: 1rem; /* Taille de texte lisible */
  border-radius: 0.375rem; /* Coins arrondis */
  transition: all 0.3s ease; /* Animation pour les interactions */
}

/* Style au survol */
input:focus,
textarea:focus {
  border-color: #16a34a; /* Bordure verte lors de la sélection */
  background-color: #ffffff; /* Arrière-plan blanc au focus */
  box-shadow: 0 0 5px rgba(22, 163, 74, 0.5); /* Effet de lumière autour */
  outline: none; /* Retirer le contour bleu par défaut */
}

@keyframes popup-fade-in {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}


#signup-notification {
  display: none; /* Masqué par défaut */
}
#signup-notification.visible {
  display: flex; /* S’affiche en mode flex pour centrer */
}